<% for i in 1..paragraphs do %>
	<p>Phasellus a interdum lorem. Proin elementum dapibus orci, sit amet ornare est rutrum et. Sed non arcu ante. Aenean mi ante, cursus nec vulputate nec, interdum et ipsum. Vestibulum quis risus mauris, a ultrices elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget leo odio, eu hendrerit sapien. Fusce vestibulum dictum viverra. Morbi tellus nibh, condimentum eu porttitor eu, bibendum quis est. Phasellus vehicula, purus at placerat euismod, orci nisi ullamcorper sem, et commodo nunc nisl eu purus.</p>
<% end %>